<!DOCTYPE html>
<html lang="ru">

<head>
    {% block title %}{% endblock title %}
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    
    <link rel="stylesheet" type="text/css" href="css/hls.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    
    <script type="text/javascript" src="js/channels.js"></script>
    <script type="text/javascript" src="js/flashlsAPI.js"></script>
    <script type="text/javascript" src="js/channelObject.js"></script>
    <script type="text/javascript" src="js/libs/js2flash.js"></script>
    <script type="text/javascript" src="js/libs/classList.min.js"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>

    <script type="text/javascript" src="js/libs/ParsedQueryString.js"></script>
    <script type="text/javascript" src="js/libs/JSLoaderFragment.js"></script>
    <script type="text/javascript" src="js/libs/JSLoaderPlaylist.js"></script>
    
</head>

<body>
	{% block body %}{% endblock body %}
</body>

</html>